body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1;
  background-color: black;
}

#game-container {
  position: relative;
  background-color: bisque;
}

canvas {
  border: 1px solid #000;
}
